<%= form_with(model: snippet, class: "contents") do |form| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
        <% snippet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Title Field -->
  <div class="my-5">
    <%= form.label :title, class: "block text-gray-700 font-medium" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <!-- Code Field -->
  <div class="my-5">
    <%= form.label :code, class: "block text-gray-700 font-medium" %>
    <%= form.text_area :code, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <!-- Tags Field -->
  <div class="my-5">
    <%= form.label :tags, "Tags", class: "block text-gray-700 font-medium" %>
    <%= form.select :tag_ids, Tag.all.collect { |t| [t.name, t.id] }, { prompt: "Select or create tags", multiple: true }, { class: "select2 block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <!-- Submit Button -->
  <div class="inline">
    <%= form.submit "Save Snippet", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700" %>
  </div>
<% end %>
