<% tag_colors = [
  "bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300",
  "bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300",
  "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300",
  "bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300",
  "bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300",
  "bg-indigo-100 text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300",
  "bg-purple-100 text-purple-800 dark:bg-purple-900 dark:text-purple-300",
  "bg-pink-100 text-pink-800 dark:bg-pink-900 dark:text-pink-300"
] %>

<div id="<%= dom_id snippet %>" class="w-full p-4">
  <div class="bg-gray-900 rounded-lg overflow-hidden shadow-lg">
    <div class="p-4">
      <div class="flex items-center justify-between">
        <%= link_to snippet_path(snippet), class: "text-gray-200 text-xl font-bold" do %>
          <%= snippet.title %>
        <% end %>

        <!-- Tags Display -->
        <div class="flex space-x-2">
          <% snippet.tags.each do |tag| %>
            <% color_class = tag_colors.sample %>
            <span class="<%= color_class %> text-xs font-medium px-2.5 py-0.5 rounded-full">
              <%= tag.name %>
            </span>
          <% end %>
        </div>

      </div>
    </div>

    <div class="px-3 py-2 relative">
      <!-- Flexbox container to align the pre and span -->
      <div class="flex items-center">
        <!-- Pre element taking full width -->
        <pre class="language-javascript w-full"><code class="text-sm" id='snippet-code-<%= snippet.id %>'><%= snippet.code %></code></pre>

        <!-- Button element with proper alignment -->
        <button
          id="copy-button-<%= snippet.id %>"
          data-snippet-id="<%= snippet.id %>"
          class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-500 dark:text-gray-400 bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:ring-gray-500 dark:focus:ring-gray-300 rounded-lg p-3 flex items-center justify-center transition ease-in-out duration-200"
          onclick="copyToClipboard('<%= snippet.id %>')"
        >
          <!-- Default copy icon (larger size) -->
          <span id="default-icon-<%= snippet.id %>">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
              <path d="M1 9.50006C1 10.3285 1.67157 11.0001 2.5 11.0001H4L4 10.0001H2.5C2.22386 10.0001 2 9.7762 2 9.50006L2 2.50006C2 2.22392 2.22386 2.00006 2.5 2.00006L9.5 2.00006C9.77614 2.00006 10 2.22392 10 2.50006V4.00002H5.5C4.67158 4.00002 4 4.67159 4 5.50002V12.5C4 13.3284 4.67158 14 5.5 14H12.5C13.3284 14 14 13.3284 14 12.5V5.50002C14 4.67159 13.3284 4.00002 12.5 4.00002H11V2.50006C11 1.67163 10.3284 1.00006 9.5 1.00006H2.5C1.67157 1.00006 1 1.67163 1 2.50006V9.50006Z"/>
            </svg>
          </span>

          <!-- Success (tick) icon -->
          <span id="success-icon-<%= snippet.id %>" class="hidden">
            <svg class="w-5 h-5 text-green-500 dark:text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917L5.724 10.5 15 1.5"/>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function copyToClipboard(snippetId) {
    // Get the correct snippet code using the snippet ID
    const snippetCodeElement = document.getElementById(`snippet-code-${snippetId}`);
    const snippetCode = snippetCodeElement.innerText.trim(); // Get and trim the code

    // Copy the text to the clipboard
    navigator.clipboard.writeText(snippetCode).then(function() {
      // Hide the default copy icon and show the success icon for the correct button
      document.getElementById(`default-icon-${snippetId}`).classList.add('hidden');
      document.getElementById(`success-icon-${snippetId}`).classList.remove('hidden');

      // After 2 seconds, reset the icons
      setTimeout(function() {
        document.getElementById(`default-icon-${snippetId}`).classList.remove('hidden');
        document.getElementById(`success-icon-${snippetId}`).classList.add('hidden');
      }, 2000);
    }).catch(function(err) {
      console.error('Error copying text: ', err);
    });
  }
</script>
